.breadcrumbs {
  display: flex;
  font-size: 16px;
  line-height: 30px;
  background-color: #f1f1f1; }
  .breadcrumbs a {
    color: #666; }
  .breadcrumbs ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    padding: 0; }
  .breadcrumbs i {
    padding: 0 10px; }

.banner img {
  width: 100%; }
.banner .banner-text {
  position: absolute;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%); }

.search {
  background-color: #0f62ac;
  padding: 12px 0;
  margin-bottom: 24px; }
  .search .search-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    margin: 5px 0; }
    .search .search-group .search-btn {
      background-color: #ff9300;
      border-radius: 0 3px 3px 0 !important;
      border: 0;
      padding: 3px 20px;
      color: #fff;
      font-size: 20px; }
    .search .search-group label {
      color: #fff; }
    .search .search-group .search-input {
      font-size: 12px;
      font-style: italic;
      color: #bbb;
      height: 36px;
      border-radius: 3px 0 0 3px;
      background-color: #fff;
      width: 100%;
      padding-left: 10px; }
    .search .search-group .select {
      width: 60%; }
      .search .search-group .select .search-select {
        width: 100%;
        height: 36px;
        border-radius: 3px;
        font-size: 14px;
        padding: 0 10px; }

.content {
  display: flex;
  flex-flow: wrap; }
  .content .content-inner {
    padding: 0 5px;
    margin-bottom: 20px;
    width: 100%; }
    .content .content-inner .inner {
      border-radius: 3px;
      border: 0.5px solid rgba(0, 0, 0, 0.12);
      background-color: #fff;
      overflow: hidden;
      cursor: pointer; }
      .content .content-inner .inner img {
        width: 100%; }
      .content .content-inner .inner .inner-content {
        padding: 15px 10px; }
        .content .content-inner .inner .inner-content .inner-content-title {
          padding: 10px 0; }
          .content .content-inner .inner .inner-content .inner-content-title a {
            color: #000; }
            .content .content-inner .inner .inner-content .inner-content-title a:hover {
              color: #0f62ac; }
        .content .content-inner .inner .inner-content .inner-content-star i {
          color: #fac02f;
          padding-bottom: 10px; }
        .content .content-inner .inner .inner-content .inner-booking {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .content .content-inner .inner .inner-content .inner-booking .inner-price {
            font-size: 16px;
            font-weight: 700;
            color: #ff0013; }
          .content .content-inner .inner .inner-content .inner-booking button {
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            color: #fff;
            padding: 10px 20px;
            border-radius: 3px;
            background-color: #ff9300;
            border: 0; }
            .content .content-inner .inner .inner-content .inner-booking button:hover {
              background-color: #ff6900; }
      .content .content-inner .inner:hover {
        box-shadow: 0 2px 10px 0 #707070; }

.pagination {
  margin-top: 17px;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center; }
  .pagination .pagination-previous,
  .pagination .pagination-next {
    cursor: pointer;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid #0f62ac;
    font-size: 14px;
    text-align: center;
    background-color: #f1f1f1;
    color: #0f62ac;
    transition: 0.3s; }
    .pagination .pagination-previous:hover,
    .pagination .pagination-next:hover {
      background-color: #0f62ac; }
      .pagination .pagination-previous:hover a,
      .pagination .pagination-next:hover a {
        color: #fff; }
  .pagination .pagination-number {
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    background-color: #f1f1f1;
    color: #0f62ac;
    margin: 0 5px; }
    .pagination .pagination-number:hover {
      background-color: #f5a331; }
      .pagination .pagination-number:hover a {
        color: #fff; }

@media (max-width: 576px) {
  .banner img {
    object-fit: cover;
    height: 200px;
    -o-object-position: center;
    object-position: center; }
  .banner .banner-text {
    font-size: 24px; } }
@media (min-width: 767px) {
  .content .content-inner {
    width: 33%; } }
@media (min-width: 1023px) {
  .content .content-inner {
    width: 25%; } }
@media (min-width: 1140px) {
  .content .content-inner {
    width: 20%; } }

/*# sourceMappingURL=hotel.css.map */
