/* config */
@font-face {
  font-family: Display-Regular;
  /* name */
  src: url(../fonts/SF-UI-Display-Regular.ttf);
  /* path */ }
@font-face {
  font-family: slick;
  /* name */
  src: url(../plugins/slick/fonts/slick.ttf), url(../plugins/slick/fonts/slick.eot), url(../plugins/slick/fonts/slick.svg), url(../plugins/slick/fonts/slick.woff); }
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Sarabun", "Display-Regular", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  font-weight: 400;
  background-color: #fff;
  color: black; }

img {
  display: block;
  max-width: 100%; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

input,
button,
textarea,
select {
  font-family: "Sarabun", "Display-Regular", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  cursor: pointer; }

button {
  cursor: pointer; }

ul {
  list-style: none;
  margin-bottom: 0; }

label {
  margin-bottom: 0; }

.btn {
  display: inline-block;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  font-size: 1.4rem;
  background-color: #fff;
  color: #0087ff;
  transition: all 0.3s ease; }

.btn:hover {
  background-color: #0f62ac;
  color: #fff;
  transition: all 0.3s ease; }

.show-mobile {
  display: none; }

.box {
  margin-top: 3rem;
  padding-bottom: 1rem; }

.bg-gray {
  background-color: #f1f1f1; }

.box-custom {
  padding-top: 5rem;
  padding-bottom: 3rem; }

.box__head h3 {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 1px;
  display: inline-block;
  border-bottom: 2px solid #EC70A2; }

.list-tour {
  display: flex;
  flex-wrap: wrap; }
  .list-tour__item {
    flex: 20%;
    max-width: 20%;
    padding: 5px;
    margin-bottom: 5px; }
  .list-tour__item-detail {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fff; }
    .list-tour__item-detail:hover {
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2); }

.list-tour__img {
  position: relative; }
  .list-tour__img a {
    display: block;
    overflow: hidden; }
  .list-tour__img:hover a img {
    transform: scale(1.1);
    transition: all 0.5s ease; }
  .list-tour__img a img {
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease; }
  .list-tour__img .voucher {
    position: absolute;
    left: -4px;
    top: 10px;
    width: auto !important; }
.list-tour__sale {
  position: absolute;
  top: 0;
  right: 10px; }
  .list-tour__sale img {
    height: 60px;
    aspect-ratio: auto 64 / 60;
    width: 64px; }

.voucher__detail {
  margin-top: 20px; }

.sale-detail {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  color: #fff; }

.sale-text {
  margin-bottom: 0;
  font-size: 1.2rem;
  text-transform: uppercase; }

.sale-price {
  font-size: 2.5rem;
  margin-top: -7px; }

.unit {
  font-size: 1.2rem; }

.time-slot {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #fff;
  font-size: 1.4rem;
  width: calc(100% - 2rem);
  display: flex;
  justify-content: space-between;
  text-shadow: 0px 0px 5px #333; }

.list-tour__item:nth-child(1),
.list-tour__item:nth-child(6),
.list-tour__item:nth-child(11) {
  padding-left: 0; }

.list-tour__item:nth-child(5),
.list-tour__item:nth-child(10),
.list-tour__item:nth-child(15) {
  padding-right: 0; }

.list-tour__content {
  padding: 10px;
  font-size: 1.3rem; }
  .list-tour__content i {
    color: #0087ff;
    font-size: 1.5rem;
    min-width: 1.5rem; }
.list-tour__title {
  min-height: 38px; }
.list-tour__title a {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600; }
  .list-tour__title a:hover {
    color: #0087ff; }
.list-tour__detail {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize; }

.list-tour__left {
  width: 65%;
  color: #484848; }
.list-tour__transport {
  margin-bottom: 3px; }

.list-tour__right {
  width: 35%;
  text-align: right; }
.list-tour__price {
  margin-bottom: 10px;
  text-align: right;
  font-size: 1.3rem; }

.price-title {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 0; }

.price {
  font-size: 1.4rem;
  color: #ff0013; }

.btn--placeholder {
  display: block;
  padding: 3px 10px;
  width: 100%;
  background-color: #ff9800;
  color: #fff; }
  .btn--placeholder:hover {
    background-color: #ff6900; }

.box-center {
  text-align: center; }

.btn--viewmore {
  padding: 5px 30px;
  text-transform: capitalize;
  font-size: 1.6rem; }

/* -------- main ---------*/
.header {
  padding-top: 1.5rem; }
  .header__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; }

.header__mid {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 55%; }
.header__list-tag {
  display: flex;
  justify-content: center;
  margin-bottom: 6px; }
.header__tag-item {
  margin: 0 4px; }
.header__tag--link {
  padding: 2px 10px; }
.header__info {
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__info a {
    color: black;
    text-decoration: none;
    font-size: 1.4rem; }
  .header__info i {
    color: #ff6900;
    padding-right: 2px; }
  .header__info--tel {
    padding-right: 2rem; }

.header__right-top a {
  margin: 0 5px;
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none; }

.overlay-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - 320px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateX(-100%);
  transition: all 0.3s ease; }

.header__bottom.active {
  transform: translateX(0);
  transition: all 0.3s ease; }

.active {
  transform: translateX(0);
  transition: all 0.3s ease; }

.btn-collapse {
  display: none; }

.logo img {
  width: 11rem;
  height: 72.8px; }

a.btn--cart {
  background-color: #ff6900;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #ff6900;
  color: #fff;
  padding: 3px 10px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  a.btn--cart:hover {
    background-color: #ff9800;
    color: #fff; }
  a.btn--cart i {
    color: #3b5ba6;
    padding-right: 10px; }

.toogle-menu {
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .4rem; }
  .toogle-menu:hover {
    border-color: #ff9800; }
  .toogle-menu img {
    width: 40px;
    height: 30px; }

.cart-number {
  position: absolute;
  width: 18px;
  height: 20px;
  top: -50%;
  right: -11px;
  padding: 3px;
  background-color: #ff0013;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center; }

.header__bottom {
  background-color: #3b5ba6;
  color: #fff; }

.nav-menu {
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  position: relative; }
.nav__item {
  position: relative; }
  .nav__item:hover .nav--link {
    text-decoration: none;
    color: #fff;
    background-color: #ff9800; }
  .nav__item:hover .menu-hover {
    display: block; }
.nav--link {
  display: inline-block;
  padding: 10px 12px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase; }

.btn-collapse {
  background: transparent;
  position: absolute;
  right: 6px;
  top: -2px;
  width: 30px;
  height: 33px; }
  .btn-collapse:hover, .btn-collapse:focus {
    border: 0;
    outline: 0;
    color: #fff; }

.pos-static {
  position: static; }

.menu-hover {
  display: none;
  background-color: #f1f1f1;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 100;
  padding: 15px;
  min-width: 200px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  /*  */ }
  .menu-hover__head {
    color: #ffa300;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px; }

.menu-large {
  right: 0; }

.menu-child__item {
  padding-left: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid transparent;
  position: relative;
  cursor: pointer; }
  .menu-child__item:hover {
    border-color: #3b5ba6; }
    .menu-child__item:hover .menu-child--link {
      color: #ff6900; }
  .menu-child__item::before {
    content: "*";
    position: absolute;
    bottom: -4px;
    left: -8px;
    color: red; }

.menu-child--link {
  text-decoration: none;
  color: #0087ff;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500; }

.menu-mobile {
  padding: 1rem 1.5rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.collapsing {
  transition: none; }

.menu-mobile__item {
  padding: 5px 0px; }

.menu-mobile__head {
  margin-bottom: 10px; }

.menu-mobile__head a {
  display: block;
  color: #333;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 300;
  padding: 5px 10px; }

.tel-number,
.email {
  padding: 2px 12px;
  color: #FFA300; }

.tel-number a,
.email a {
  padding: 5px 0; }

.tel-number i,
.email i {
  padding-right: 2px; }

.tel-number a {
  color: #007bff;
  font-size: 1.3rem;
  font-weight: 400; }

/* main */
.banner {
  position: relative;
  background-color: #f1f1f1; }
  .banner__item img {
    height: 100vh;
    object-fit: cover; }

.owl-carousel .owl-nav [class*="owl-"] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  .owl-carousel .owl-nav [class*="owl-"]:hover {
    background: transparent; }

.owl-nav [class*="owl-"] img {
  width: 2.6rem; }

.owl-nav .owl-prev {
  left: 10px; }

.owl-nav .owl-next {
  right: 10px; }

.home-search {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
  font-size: 1.5rem; }
  .home-search__head h3 {
    color: #3b5ba6;
    font-size: 1.6rem;
    margin-bottom: 5px; }

.home-search .container {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }

.home-search__input {
  display: flex;
  align-items: flex-end;
  margin-bottom: 18px; }

.form-group {
  margin-bottom: 0; }

.home-search__input .form-group {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px; }

.group-parent {
  position: relative; }
  .group-parent span {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    color: #0087ff;
    font-size: 1.6rem; }

.form-group label {
  font-size: 1.5rem;
  color: #015196;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px; }

#inland,
#foreign {
  margin-right: 8px; }

.search-quick {
  display: inline-flex;
  margin-left: auto;
  width: auto; }

.search-q {
  color: #2e2e2e;
  border: 1px solid #ced4da;
  background-color: #f1f1f1;
  padding: 2px 12px; }

.form-fix {
  height: auto;
  font-size: 1.4rem;
  border-radius: 4px;
  padding: 5px 15px; }

.hidden-arow {
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.form-input {
  height: auto;
  padding: 10px 10px;
  font-size: 1.35rem;
  border-radius: 0;
  border-right: 0;
  border-color: #adadad; }

.btn-search {
  padding: 10px 15px;
  font-size: 1.4rem;
  border-radius: 0;
  border-color: transparent;
  width: 100%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9800;
  color: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }
  .btn-search:hover {
    background-color: #ff6900; }
  .btn-search i {
    margin-right: 5px; }

/* my-service */
.my-service__head {
  margin-bottom: 50px; }
.my-service__item {
  background-color: #fff;
  padding: 20px;
  text-align: center; }
.my-service__icon {
  text-align: center;
  margin-bottom: 15px; }

h3.no-border {
  display: block;
  border: 0; }

.my-service__icon img {
  display: inline-block !important;
  width: 40px !important;
  height: 40px; }

.ms-item__head {
  margin-bottom: 10px; }

.my-service--text {
  font-size: 1.4rem;
  color: #666;
  height: 128px;
  min-height: 128px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.read-more {
  margin-top: 10px;
  border: 0;
  font-style: italic;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize; }
  .read-more:hover {
    background-color: transparent;
    color: #0087ff; }

/* Hot tour */
.box__head-wp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px; }

.nav-pills {
  margin-top: 10px; }

.nav-pills .nav-link.active {
  border: 1px solid #007bff; }

.nav-link {
  padding: 3px 15px;
  margin: 4px;
  border: 1px solid;
  text-transform: capitalize; }

/* featured-post */
.featured-post__head {
  margin-bottom: 20px; }
  .featured-post__head h3 {
    margin-bottom: 15px; }

.box--text {
  color: #2e2e2e;
  font-size: 1.5rem; }

.box__content {
  margin-bottom: 25px; }

.box-slide__item {
  position: relative;
  height: 120px; }
  .box-slide__item:hover img {
    transform: scale(1.1);
    transition: all 0.3s ease; }
.box-slide__text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); }
  .box-slide__text a {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    text-shadow: 0px 0px 5px #333; }
    .box-slide__text a:hover {
      color: #ff9800; }
.box-slide__img {
  border-radius: 3px;
  overflow: hidden;
  height: 120px; }
  .box-slide__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease; }

.slide-item {
  width: calc(100% - 10px);
  border-radius: 3px; }

.slick-prev {
  left: 5px;
  z-index: 99; }

.slick-next {
  right: 5px;
  z-index: 99; }

.slick-prev:before,
.slick-next:before {
  font-size: 28px; }

.slick-prev,
.slick-next {
  width: 28px;
  height: 28px; }

.slick-prev:before {
  opacity: 1;
  background-image: url(../images/icon/slick-left.png);
  color: transparent;
  display: block;
  background-size: contain; }

.slick-next:before {
  opacity: 1;
  background-image: url(../images/icon/slick-right.png);
  color: transparent;
  display: block;
  background-size: contain; }

.btn-viewpoint {
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn-viewpoint i {
    font-size: 18px;
    padding-left: 8px; }

/* Combo */
.nav-combo {
  padding: 3px 30px; }

.combo__item {
  width: calc(100%/3);
  max-width: calc(100%/3);
  padding: 5px;
  margin-bottom: 5px; }

/* .combo__item:nth-child(1),
.combo__item:nth-child(4),
.combo__item:nth-child(7) {
    padding-left: 0;
}

.combo__item:nth-child(3),
.combo__item:nth-child(6),
.combo__item:nth-child(9) {
    padding-right: 0;
} */
.combo__content {
  font-size: 1.4rem;
  margin-bottom: 5px; }

.combo__title {
  min-height: 40px;
  margin-bottom: 5px; }
  .combo__title a {
    font-size: 1.6rem; }

.combo__img:hover a img {
  transform: scale(1.1) rotate(3deg);
  transition: all 0.5s ease; }

.combo__left p {
  margin-bottom: 8px;
  font-size: 14px;
  color: #484848; }

.combo__right .price-title {
  font-size: 1.4rem; }
.combo__right .price {
  font-size: 1.6rem;
  font-weight: 700; }
.combo__right .btn--placeholder {
  display: inline-block;
  padding: 9px 34px;
  width: auto;
  font-size: 1.6rem; }

.night-day {
  font-style: italic;
  font-weight: 400;
  color: #666; }

/* handbook-box */
.handbook__content {
  margin-top: 35px; }

.sub-title h4 {
  font-size: 1.5rem;
  font-weight: 700;
  border-left: 3px solid #ff6900;
  padding-left: 8px;
  text-transform: uppercase; }

.handbook__top {
  margin-bottom: 10px; }
  .handbook__top img {
    height: 380px;
    width: 100%;
    object-fit: cover; }

.post-top__item {
  position: relative; }

.slide-detail__top {
  position: absolute;
  bottom: 20px;
  left: 25px;
  color: #fff;
  text-shadow: 0px 0px 5px #333; }

.slide-post__title a {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #fff; }
  .slide-post__title a:hover {
    color: #ff9800; }

.slide-post--link {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 0 8px;
  color: #fff;
  padding: 2px 8px;
  border: 1px solid #fff;
  border-radius: 3px;
  text-shadow: 0px 0px 5px #333;
  font-style: italic; }
  .slide-post--link:hover {
    color: #ff9800;
    border: 1px solid #ff9800; }

.slide-post__bottom {
  font-size: 1.4rem;
  display: flex;
  align-items: center; }
  .slide-post__bottom i {
    font-size: 6px;
    padding: 0 10px; }
  .slide-post__bottom span {
    font-style: italic; }

.handbook__bottom img {
  height: 140px;
  width: 100%;
  object-fit: cover; }

.slick-slider img {
  width: 100%; }

.post-item {
  margin: 10px; }

.bottom-title a {
  margin-top: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  min-height: 38px; }

.bottom-detail .slide-post--link {
  color: #0087ff;
  border: 1px solid;
  text-shadow: none;
  padding: 0px 8px; }

.bottom-text {
  font-size: 1.2rem;
  display: flex;
  color: #666;
  align-items: center; }
  .bottom-text i {
    font-size: 6px;
    padding: 0 10px;
    color: #bbb; }
  .bottom-text span {
    font-style: italic; }

.handbook__bottom .slick-prev,
.handbook__bottom .slick-next {
  top: 32%; }

.handbook__bottom .slick-prev {
  left: 15px; }

.handbook__bottom .slick-next {
  right: 15px; }

.list-post {
  margin-top: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 590px;
  margin-bottom: 30px; }

.list-post::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff; }

.list-post::-webkit-scrollbar {
  width: 6px;
  background-color: #fff; }

.list-post::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0f62ac; }

.list-post__item {
  margin-bottom: 15px; }

.post-item__right {
  display: flex;
  justify-content: space-between; }

.slide-post__img {
  flex-basis: 45%;
  padding-right: 5px; }

.slide-post__content {
  flex-basis: 55%;
  padding-left: 5px; }
  .slide-post__content a {
    font-weight: 500;
    margin-top: 0; }

.btn--blue {
  padding: 8px 10px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #0087ff; }
  .btn--blue i {
    padding-left: 6px; }

/* gallery-box */
.gallery-box {
  padding-bottom: 0; }
  .gallery-box .box__head {
    margin-bottom: 20px; }
  .gallery-box .viewmore {
    color: #0f62ac;
    font-style: italic;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize; }

.video-box__img {
  border-radius: 0;
  overflow: visible;
  height: 148px;
  position: relative; }
  .video-box__img img {
    width: 100%;
    transition: all 0.3s ease; }
  .video-box__img i.fa-play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    cursor: pointer; }
    .video-box__img i.fa-play-circle:hover {
      text-shadow: 0px 0px 10px #333; }

.box-slide__img:hover img {
  opacity: 0.7;
  transition: all 0.3s ease; }

.video-box__text a {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  margin-top: 5px; }
  .video-box__text a:hover {
    color: #3b5ba6; }

.video-item {
  padding: 5px; }

.video-box__slide .slick-prev:before,
.video-box__slide .slick-next:before {
  font-size: 35px; }

.video-box__slide .slick-prev,
.video-box__slide .slick-next {
  width: 35px;
  height: 35px; }

.image-box__slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.image-box__item {
  flex-basis: 19.5%;
  margin-top: 15px;
  position: relative;
  overflow: hidden; }
  .image-box__item:hover .img__bottom-bar {
    transform: translateY(0);
    transition: all 0.3s ease; }
  .image-box__item:hover .image-box__text {
    transform: translateX(0) translateY(-10px);
    transition: all 0.3s ease; }

.img__bottom-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background-color: #0087ff;
  transform: translateY(10px);
  transition: all 0.3s ease; }

.image-box__img {
  height: 186px; }
  .image-box__img img {
    width: 100%; }

.image-box__text {
  bottom: 10px;
  left: 10px;
  transform: translateX(0) translateY(0);
  transition: all 0.3s ease; }

/* widget */
.widget {
  margin-top: -20px; }

.widget-img img {
  object-fit: cover; }

/* customer  */
.customer .box__head {
  margin-bottom: 40px; }

.customer__item {
  background-color: #fff;
  height: 95px;
  position: relative;
  border: 1px solid #ececee; }
  .customer__item img {
    width: 88px;
    height: 30px;
    max-width: calc(100% - 20px);
    max-height: calc(100% - 10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* footer */
.footer {
  padding-top: 45px;
  background-color: #3B5BA6;
  color: #fff; }

.logo-footer img {
  width: 150px; }

.company-name {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin: 5px 0 25px 0; }

.list-info-footer {
  padding-right: 20px; }
  .list-info-footer span,
  .list-info-footer a {
    color: #fff;
    font-size: 1.4rem; }
  .list-info-footer li {
    margin-bottom: 10px; }
  .list-info-footer i.fas {
    min-width: 20px;
    color: #ffa300; }

.list-left {
  padding-right: 20px; }

.receive-info {
  padding: 20px;
  background-color: #fff;
  color: #333; }
  .receive-info__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px; }
    .receive-info__head img {
      display: inline-block;
      padding-right: 10px; }
    .receive-info__head span {
      font-size: 16px;
      font-weight: 600;
      color: #0f62ac; }
  .receive-info .form-group {
    padding-bottom: 10px; }
  .receive-info .form-control {
    height: 35px;
    padding: 10px;
    font-size: 1.4rem; }
  .receive-info label span {
    color: #ff0013; }

.form-control {
  cursor: pointer; }

.btn-signup {
  margin-top: 10px;
  background-color: #3b5ba6;
  color: #fff;
  text-transform: uppercase; }
  .btn-signup:hover {
    background-color: #0f62ac; }

.signup-bct {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .signup-bct div {
    flex: 32%;
    text-align: center; }
  .signup-bct img {
    display: inline-block; }

.footer-top {
  margin-bottom: 30px; }
  .footer-top .container {
    padding-bottom: 20px;
    border-bottom: 1px solid #fff; }

.footer-bottom {
  padding-bottom: 10px; }

.social-wp {
  display: flex;
  justify-content: center;
  align-items: center; }

ul.list-social {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  ul.list-social li {
    margin: 0 10px; }
  ul.list-social a {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 32px;
    height: 32px;
    color: #fff;
    background-color: #0288ff;
    border-radius: 50%;
    transition: all 0.3s ease; }
    ul.list-social a:hover {
      background-color: #ff9800;
      transition: all 0.3s ease; }

.copy-right {
  background-color: #127bd8;
  padding: 6px 0; }
  .copy-right p {
    margin-bottom: 0; }
  .copy-right a {
    color: #fff;
    font-weight: 700; }
    .copy-right a:hover {
      color: #ff6900; }

.widget-contact {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  display: flex;
  flex-direction: column; }

.widget-contact__item + .widget-contact__item {
  margin-top: 15px; }

.widget-contact__item a {
  display: inline-block; }
.widget-contact__item img {
  width: 44px;
  height: 44px; }

.tooltip {
  font-size: 1.4rem; }

.tooltip-inner {
  max-width: 500px;
  padding: 5px 6px;
  color: #fff;
  text-align: center;
  background-color: rgba(19, 18, 18, 0.8);
  border-radius: 0.5rem; }

/* Style combo-page */
.bread-crumb {
  background-color: #e9ecef; }

.breadcrumb {
  padding: .5rem 1rem;
  margin-bottom: 0; }

.breadcrumb-item {
  font-size: 1.6rem; }
  .breadcrumb-item a {
    font-size: 1.6rem; }

.tab-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; }

.box__head {
  margin-bottom: 25px; }

.search-combo {
  margin-right: 2px; }

.input-combo {
  border: 1px solid #ffa300;
  font-size: 13px;
  color: #bbb;
  height: 36px;
  font-style: italic;
  margin-left: 5px;
  width: 200px;
  padding: 5px 55px 5px 15px; }

.btn-combo_page {
  height: 36px;
  color: #fff;
  border: 1px solid #ffa300;
  border-radius: 0 3px 3px 0 !important;
  background-color: #ffa300;
  font-size: 17px; }
  .btn-combo_page:hover {
    background-color: #ff8800; }

.tab-search__left {
  display: flex;
  align-items: center; }

.slect_price-combo {
  position: relative; }
  .slect_price-combo img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); }

.select-combo {
  height: 36px;
  width: 167px;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 14px;
  color: #484848;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fff;
  font-style: italic; }
  .select-combo option {
    font-style: italic; }

.combo-page__list {
  display: flex;
  flex-wrap: wrap; }

.tab-search__right {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navtab-text {
  font-size: 16px;
  color: #666;
  padding-right: 5px; }

.navtab-combo {
  margin-top: 0px; }

.nav-link-combo {
  padding: 7px 22px;
  text-align: center; }
  .nav-link-combo.active {
    background-color: #0f62ac !important; }
  .nav-link-combo i {
    margin-right: 5px; }

/* Style gallery-page */
.gallery-page__banner {
  padding-bottom: 2rem;
  position: relative; }

.gp-banner__img {
  width: 100%;
  height: 420px;
  object-fit: cover; }

.gp-banner__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center; }
  .gp-banner__text h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 0px 5px #333; }

.box__head-wp {
  color: #0f62ac; }

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.gallery-content + .gallery-content {
  padding-top: 25px; }

.image-box--gallery {
  height: 186px; }

/*# sourceMappingURL=style.css.map */
